
div.css-oyh5j.epcbefy1 {
    background-color: rgb(83 124 215 / 80%);

}

/* place holder */
label.css-14jl21p.effi0qh0 {
     font-weight: bold;
     font-size: 18px;
     color: #ffffff;
}


h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: rgb(110, 112, 116);
    letter-spacing: -0.005em;
    padding: 0.5rem 0px 1rem;
    margin: 0px;
    line-height: 1.4;
    text-align: center;
}

/*  title*/
span.css-10trblm.e16nr0p33 {
    text-align: center;
}

/* text button*/
button.css-4464w1.edgvbvh5 {
    font-weight: bold;
}